---
import Suscription from "./Suscription.vue";
---

<section class="primary">
    <div class="information">
        <h1>Easily plan your next vacation </h1>
        <h2>Artificial intelligence can take care of your vacation plans, <span>just enjoy it</span>.</h2>
        <Suscription client:load />
    </div>
</section>

<style>
    .primary {
        height: 100dvh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .information {
        height: auto;
        max-width: 861px;
        width: 100%;
        text-align: center;
    }

    h1 {
        font-size: 4rem !important;
        font-weight: 700 !important;
        background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        text-align: center;
    }
    h2 {
        font-size: 2rem !important;
        font-weight: 500 !important;
        color: #fff;
    }

    span {
        font-weight: 600 !important;
        text-decoration: underline;
    }
</style>
